//@font-face {
//    font-family: "Helvetica Neue"; /* Имя шрифта */
//    src: url(css/fonts/HelveticaNeueCondensedBold.ttf); /* Путь к файлу со шрифтом */
//   }
   
* {
  margin: 0;
  padding: 0;
}

body {
  font-family:  Tahoma, Helvetica, sans-serif;
  font-size: 11px;
  //background:url(../img/bg_body.png) no-repeat;
}

ul, li {
  margin: 0px;
  padding: 0px;
}

table {
  border-spacing: 0px;
  border-collapse: collapse;
}
table td {padding: 1px;}

.btn_mmenu_l {background:url(../img/btn_menu_l.png); width:2px;height:35px;} 
.btn_mmenu_c {background:url(../img/btn_menu_c.png); width:2px;height:35px;} 
.btn_mmenu_r {background:url(../img/btn_menu_r.png); width:2px;height:35px;} 

.btn_mmenu {
  background-image: url(../img/btn_menu_m.png);
  background-repeat: repeat-x;
  height: 35px;
  padding: 0px 20px;
  text-align: center;
  font: normal normal 500 12px/29px Tahoma;
  color: #16191E;
  cursor: pointer;
  text-shadow:
     1px 1px 1px rgba(255,255,255,0.6);
  position:relative;
}

.btn_mmenu:hover {
  background-image: url(../img/btn_menu_m_hover.png);
}

.back_point a{
  background: transparent url(../img/back.png) no-repeat 0px 4px; 
  padding: 0px 2px 0px 8px;
  font: normal normal 400 11px/normal Tahoma;
  color: #2F3B54;
  text-decoration: none;
  text-shadow: 1px 1px rgba(255,255,255,0.5);
}

.back_point a:hover{
  text-decoration: underline;
  
}

.curr_place {
   padding: 2px 0px 0px 0px;
   font: normal normal 700 12px/12px Tahoma;
   color: #303C56;
   text-decoration: none;
   //text-shadow:
      //1px 1px 0px rgba(50,50,50,0.1);
      //text-shadow: 1px 1px rgba(255,255,255,0.6);
      
}

.nav_panel {
  position: absolute; 
  left:21px; 
  top:148px; 
  height:42px;
  border:1px solid #555;
  border-bottom:1px solid #888;
  border-radius:3px;
  background:#B9D4D3 url(../img/bg_nav.png) repeat-x;
  box-shadow: 1px 1px rgba(255,255,255,0.40) inset,-1px 1px rgba(255,255,255,0.40) inset, 0px 3px 4px rgba(0,0,0,0.25);
  padding:0px 70px 0px 2px;
  }
  
#lc {width:0px;
      padding:5px 0px 0px 34px;height:26px;
      background:url(../img/user.png) 7px center no-repeat;
      box-shadow:1px 0px rgba(255,255,255,0.6),-1px 0px rgba(0,0,0,0.45) inset;cursor:pointer;
      font: normal normal 400 10px/10px Tahoma;
  color: #54636C;
  text-shadow: 1px 1px rgba(255,255,255,0.5);
  overflow:hidden;}  

.curr_db {
  float: right;
  font: oblique 700 13px Arial;
  position: relative;
  right: -15px;
  padding: 2px 15px 4px;
  border: 1px solid #899;
  border-left: 0px;
  background: #D5F9E9;
  border-radius: 3px;
  	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  box-shadow: 		    2px 1px 2px rgba(50,50,50,0.4);
  	-webkit-box-shadow: 2px 1px 2px rgba(50,50,50,0.4);
  	-moz-box-shadow:    2px 1px 2px rgba(50,50,50,0.4);
  color: #334;
  white-space: nowrap;
}

.curr_db:before {
  content: '';
  position: absolute;
  width: 12px;
  height: 24px;
  left: -10px;
  top: -1px;
  background: transparent url(../img/curr_db_b.png) no-repeat left center;	
}

.block {
  border-radius: 5px;
  	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  box-shadow:               0px 1px 2px 0px rgba(0,0,0,0.3), 0px 0px 0px 1px #fff inset;  
  	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3), 0px 0px 0px 1px #fff inset;  
     	-moz-box-shadow:    0px 1px 2px 0px rgba(0,0,0,0.3), 0px 0px 0px 1px #fff inset;
  border: 1px solid #B3BED3;
  overflow: visible;
  background: transparent url(../img/block_bg.png) bottom repeat-x;
  
}

.block_header {
  
  background: #C3DBD1;//C0E0C9; //D9DADD;
  box-shadow:               0px 2px 3px 0px rgba(0,0,0,0.5);
  	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.5);
  	-moz-box-shadow:    0px 2px 3px 0px rgba(0,0,0,0.5);
  padding: 5px 10px;
  text-align: left;
  color: #273044;
  font-weight: bold;
  text-shadow: 
     1px 1px 1px rgba(255,255,255,0.6);
  border-top:1px solid #B3BED3;
}

.ul-info-per {
  background: transparent no-repeat 21px -2px;
  font: normal normal 400 11px Tahoma;
  padding: 3px 0px 11px 75px;
  min-height: 30px;
  vertical-align: middle;
}

.ui-contact {
  font: 400 11px Tahoma;
  padding: 4px 0px 15px 25px;
}

.ui-contact td {
  padding-right: 10px;
  vertical-align: top;
}

.ui-contact input, .ui-contact textarea {
  font: normal normal 400 11px/normal Tahoma;
  margin: 1px 0px;
  width: 270px;
}
.captcha {
   border: 1px solid #ccc;
   background-color: #eee;
   padding: 5px;
   font: normal normal 11px/normal 400 Tahoma; 
   box-shadow:              2px 2px 2px rgba(0, 0, 0, 0.1);
   	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
   	-moz-box-shadow:    2px 2px 2px rgba(0, 0, 0, 0.1);
   width: 262px;
   margin: 5px 0px;
}

.captcha a {
   color: #114264;
   text-decoration: none;
   font: normal normal 10px 400 Tahoma; 
   background: transparent url(../img/refresh-icon.png) 2px 0px no-repeat;
   padding: 7px 0px 7px 30px;
   position: relative;
   top: -8px;
}


 .log_result {
    padding: 15px 8px;
    border-left: 4px solid #78849E;
    font: normal normal 700 12px/14px Arial;
    display: none;
  }

.not-calc:hover::after {
      content: 'Индикатор не может быть рассчитан'; /* Выводим текст */
      position: absolute; 
      right: 10px; top: 55%; 
      z-index: 10000;
      padding: 3px 3px;
      width:72px;
      
      font: normal italic 400 11px/9px Calibri, Times;
      background: rgb(227,239,235); /* Полупрозрачный цвет фона */
      border-radius: 3px;
      box-shadow: rgba(255, 255, 255, 0.6) 1px 1px 0px 0px inset;
      border: 1px solid #9DA8C2; /* Параметры рамки */
      
  }

#Unload_into_Excel {
  height:32px;
  width:150px;
  background: #F2FAFA url(../img/xls.png) 6px 4px no-repeat;
  padding:5px 0px 1px 42px;
  font:normal normal 700 16px Calibri;
  color:#71899A;
  box-shadow: -1px -1px 3px 2px rgba(0,0,0,0.02) inset;
  border-radius: 7px;
  margin:6px 0px;
  border: 1px solid #E1E1E1;
  display:inline-block;
}

#Unload_into_Excel:hover {
  cursor: pointer;
    background-color:#F7FdFd;
  //box-shadow: -1px -1px 3px 2px rgba(0,0,0,0.08) inset;
}  
  
#Show_allmap {
  height:26px;
  width:75px;
  cursor: pointer;
  background: #F0F8F8 url(../img/ya-map.png) 5px 4px no-repeat;
  padding:6px 0px 1px 35px;
  font:normal normal 400 16px Calibri;
  color:#485860;
  box-shadow: -1px -1px 3px rgba(0,0,0,0.07) inset;
  border-radius: 7px;
  //margin:3px 3px;
  border: 1px solid #d1d1d1;
}  
#Show_allmap:hover {
  background-color:#F7FdFd;
  
}  
#perm {
  border-spacing: 0;
  border-collapse: collapse;
  
}
#perm tr {}
#perm td {
  border:1px solid #ABB;
  vertical-align:top;
  text-align:left;
  padding:3px;
  font: normal 700 16px/12px Calibri;
  color:#222;
  
}
#perm td hr {
  border:none;
  border-bottom:1px solid #ABB;
    
}
#perm td.aval {background:url(../img/1422028897_clean.png) center center no-repeat;height:26px;}


#stattitle {
 padding-right:20px;
 background: url(../img/information_8522.png) right no-repeat;
 position:relative;
 

}
#stattitle:hover:after {
  content: 'данные по запросам с 11.11.2014';
  position: absolute;
  padding:6px;
  font: 400 11px/normal Tahoma;
  width:180px;
  rigth: -200px;
  top: 20px;
  border:1px solid #E8E1D3;
  background:#FDFFEA;
  	
}


.lc_section {
  margin:10px 0px;background:#e4e6e6;font:normal 700 12px Arial;padding:2px 6px;color:#555;text-shadow:1px 1px rgba(255,255,255,0.4);}
.lc_data td {vertical-align:middle;}
.lc_li {
  font:normal 700 11px Arial;color:#788;padding-right:15px;}

.editableTrigger {
  font:italic 400 11px Arial;
  color:#9aa;
  text-decoration:underline;
  cursor:pointer;
  padding-left:28px;
  background:url(../img/136-document-edit-16.png) 10px no-repeat;
  //display:none;
}


.lc_data {
  font: normal 700 16px Calibri;
  color:#233;
  padding:1px;
}

input.lc_data {
  border: 1px solid #aaa;
  border-radius:3px;
  padding-left:3px;
  display:none;
  font: normal 400 11px Arial;
  position:relative;
}

input.lc_data:after {
	content: 'dfsdf';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 3px;
	top: 4px;
	background: transparent url(../img/arrow_down.png) no-repeat center center;

}



#chpass {
  position:absolute;
  background:#fafafa;
  border:1px solid #bbb;
  padding:20px;
  border-radius:5px;
  box-shadow:0px 0px 20px 8px rgba(0,0,0,0.2);
  display:none;
}
#chpass td {
  padding:3px;
  text-align:right;
  font: 400 11px Arial;
  color:#455;
}

#chpass input {
  border: 1px solid #aaa;
  border-radius:3px;
  padding:1px;
  padding-left:3px;
  font: normal 400 11px Tahoma;
  position:relative;
}

